In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies = movies.merge(credits, on='title')

In [6]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [7]:
#genre ,id , keywords, title, overview, cast, crew

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [9]:
movies = movies[['movie_id','title','genres','keywords','cast','crew']]

In [10]:
movies.head(5)

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace=True)

In [13]:
movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.duplicated().sum()    #check for duplicate data

0

In [15]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
import ast
def convertgenre(obj):
    gnrlst=[]
    for i in ast.literal_eval(obj):
        gnrlst.append(i['name'])
    return gnrlst

In [17]:
movies['genres'] = movies['genres'].apply(convertgenre)

In [18]:
movies.head()

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
movies['keywords'] = movies['keywords'].apply(convertgenre)

In [20]:
movies.head()

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
def convertcast(obj):
    counter=0
    lst=[]
    for i in ast.literal_eval(obj):
        if counter != 3:
            lst.append(i['name'])
            counter+=1
        else:
            break
    return lst

In [22]:
movies['cast'] = movies['cast'].apply(convertcast)

In [23]:
movies.head()

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [24]:
def fetchdirector(obj):
    lst=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            lst.append(i['name'])
            break
    return lst

In [25]:
movies['crew'] = movies['crew'].apply(fetchdirector)

In [26]:
movies.head()

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [28]:
#movies['overview'][0] ##we are commenting this part coz we are not including overview column for our preprocessing

In [29]:
#movies['overview'].apply(lambda x:x.split()) splits the whole overview into list

In [29]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split()) passing the list into column

In [30]:
#movies.head(5)

In [31]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])     #removing the spaces from the words as machine might take it as different tokens
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [32]:
movies.head()

,movie_id,title,genres,keywords,cast,crew
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [33]:
movies["tags"] = movies["genres"]+movies["keywords"]+movies["cast"]+movies["crew"]

In [34]:
movies.head()

,movie_id,title,genres,keywords,cast,crew,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[Action, Adventure, ScienceFiction, basedonnov..."

In [35]:
new_df = movies[['movie_id','title','tags']]

In [36]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction, c..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action, ocean, drugabuse,..."
2,206647,Spectre,"[Action, Adventure, Crime, spy, basedonnovel, ..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller, dccomics, cri..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction, basedonnov..."

In [37]:
new_df["tags"] = new_df['tags'].apply(lambda x:" ".join(x))  #converting the list into string

C:\Users\hp\AppData\Local\Temp/ipykernel_15168/654361425.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df['tags'].apply(lambda x:" ".join(x))  #converting the list into string

In [38]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,Action Adventure Fantasy ScienceFiction cultur...
1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action ocean drugabuse exoti...
2,206647,Spectre,Action Adventure Crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,Action Crime Drama Thriller dccomics crimefigh...
4,49529,John Carter,Action Adventure ScienceFiction basedonnovel m...

In [39]:
new_df["tags"][0]  #visualising the first row

'Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [40]:
new_df["tags"] = new_df["tags"].apply(lambda x:x.lower()) #converting the words into lowercase

C:\Users\hp\AppData\Local\Temp/ipykernel_15168/633950898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["tags"] = new_df["tags"].apply(lambda x:x.lower()) #converting the words into lowercase

In [41]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,action adventure fantasy sciencefiction cultur...
1,285,Pirates of the Caribbean: At World's End,adventure fantasy action ocean drugabuse exoti...
2,206647,Spectre,action adventure crime spy basedonnovel secret...
3,49026,The Dark Knight Rises,action crime drama thriller dccomics crimefigh...
4,49529,John Carter,action adventure sciencefiction basedonnovel m...

In [42]:
from sklearn.feature_extraction.text import CountVectorizer  #creating vectors out of tags columnn for each data

In [43]:
import nltk  #natural language tool kit

In [44]:
from nltk.stem.porter import PorterStemmer  # it will remove and change the similar words like dance, dancer, dancing into dance
ps =PorterStemmer()

In [45]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [46]:
new_df['tags']=new_df["tags"].apply(stem)

C:\Users\hp\AppData\Local\Temp/ipykernel_15168/2079672140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df["tags"].apply(stem)

In [47]:
new_df.head(4)

,movie_id,title,tags
0,19995,Avatar,action adventur fantasi sciencefict culturecla...
1,285,Pirates of the Caribbean: At World's End,adventur fantasi action ocean drugabus exotici...
2,206647,Spectre,action adventur crime spi basedonnovel secreta...
3,49026,The Dark Knight Rises,action crime drama thriller dccomic crimefight...

In [48]:
cv = CountVectorizer(max_features=5000,stop_words='english')   #it removes the stop words, like it ,a ,to, in
vectors =cv.fit_transform(new_df['tags']).toarray()

In [49]:
len(cv.get_feature_names())

5000

In [50]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [51]:
cv.get_feature_names()

['16thcenturi',
 '17thcenturi',
 '18thcenturi',
 '1910',
 '1930',
 '1940',
 '1950',
 '1960',
 '1970',
 '1980',
 '1990',
 '19thcenturi',
 '21stcenturi',
 '3d',
 'aaroneckhart',
 'aarontaylor',
 'abbiecornish',
 'abhishekbachchan',
 'abigailbreslin',
 'aborigin',
 'abram',
 'absurd',
 'abus',
 'abusivehusband',
 'accid',
 'action',
 'actionhero',
 'activist',
 'actor',
 'actress',
 'adambeach',
 'adambrodi',
 'adamcarolla',
 'adamdriv',
 'adamgarcia',
 'adamgoldberg',
 'adammckay',
 'adamrifkin',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'addict',
 'adolesc',
 'adolfhitl',
 'adopt',
 'adoptedchild',
 'adoptivefath',
 'adrianlyn',
 'adrienbrodi',
 'adriennebarbeau',
 'adultanim',
 'adulteri',
 'advanc',
 'adventur',
 'adversari',
 'advertisingexecut',
 'advertisingexpert',
 'advic',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'age',
 'agediffer',
 'agent',
 'aggressionbyanim',
 'aid',
 'aidanquinn',
 'aimeegarcia',
 'airforc',
 'airplan',
 'airplanecrash',
 'airport',
 'akshaykumar',
 'alanalda',
 'alanarkin',
 'alanpark',
 'alanrickman',
 'alantudyk',
 'alaska',
 'albertbrook',
 'albertfinney',
 'alberthugh',
 'alcatraz',
 'alcohol',
 'alcoholabus',
 'alecbaldwin',
 'alecguin',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 'alessandronivola',
 'alexanderpayn',
 'alexanderskarsgård',
 'alexandradaddario',
 'alexandreaja',
 'alexapenavega',
 'alexisbledel',
 'alexkendrick',
 'alexpettyf',
 'alexproya',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'alfrewoodard',
 'alicebraga',
 'aliceev',
 'aliciasilverston',
 'aliciavikand',
 'aliciawitt',
 'alien',
 'alienabduct',
 'alienattack',
 'aliencontact',
 'alieninfect',
 'alieninvas',
 'alienlife',
 'alienphenomenon',
 'alienplanet',
 'alilart',
 'alisonlohman',
 'alli',
 'allig',
 'alon',
 'alp',
 'alpacino',
 'alterego',
 'alternatedimens',
 'alternatehistori',
 'alternater',
 'alternativer',
 'alysonhannigan',
 'alzheim',
 'alzheimer',
 'amandabyn',
 'amandapeet',
 'amandaseyfri',
 'amazon',
 'ambassador',
 'amberheard',
 'ambertamblyn',
 'ambit',
 'ambul',
 'ambush',
 'americaferrera',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanflag',
 'americanfootbal',
 'americanfootballplay',
 'amnesia',
 'amsterdam',
 'amusementpark',
 'amyadam',
 'amyheckerl',
 'amypoehl',
 'amyryan',
 'amysmart',
 'anaclaudiatalancón',
 'anandtuck',
 'anarchiccomedi',
 'ancientchina',
 'ancientegypt',
 'ancientgreec',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andiemacdowel',
 'andrebraugh',
 'andrewadamson',
 'andrewbujalski',
 'andrewdavi',
 'andrewflem',
 'andrewgarfield',
 'andrewniccol',
 'andrewstanton',
 'android',
 'andrzejbartkowiak',
 'andyfickman',
 'andygarcía',
 'andylau',
 'andysamberg',
 'andyserki',
 'andytenn',
 'angel',
 'angelabassett',
 'angelinajoli',
 'anger',
 'angle',
 'anim',
 'animalattack',
 'animalhorror',
 'animallead',
 'animalprotect',
 'animalsidekick',
 'anjelicahuston',
 'annabellasciorra',
 'annafari',
 'annafriel',
 'annakendrick',
 'annapaquin',
 'annasophiarobb',
 'annearch',
 'annebancroft',
 'annefletch',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anonym',
 'anonymouslett',
 'anotherdimens',
 'ant',
 'antarct',
 'antarctica',
 'antholog',
 'anthonyanderson',
 'anthonyhopkin',
 'anthonymacki',
 'anthonyminghella',
 'anthonyquinn',
 'anthonyrusso',
 'anthropomorph',
 'anti',
 'antihero',
 'antisemit',
 'antiterror',
 'antoinefuqua',
 'antoncorbijn',
 'antoniobandera',
 'antonyelchin',
 'apart',
 'apartheid',
 'ape',
 'apocalyps',
 'apocalypt',
 'apostl',
 'apprentic',
 'aquarium',
 'arab',
 'arbitrarylaw',
 'archaeologist',
 'archeolog',
 'archer',
 'archeri',
 'architect',
 'arci',
 'arctic',
 'area51',
 'arena',
 'argument',
 'aristocrat',
 'arizona',
 'armandassant',
 'armi',
 'armiehamm',
 'arminmueller',
 'armoredcar',
 'armsdeal',
 'arnoldschwarzenegg',
 'arrangedmarriag',
 'arrest',
 'arrog',
 'arson',
 'art',
 'artgalleri',
 'arthous',
 'artifact',
 'artificialinsemin',
 'artificialintellig',
 'artist',
 'arttheft',
 'artthief',
 'asabutterfield',
 'ashleyjudd',
 'ashleytisdal',
 'ashtonkutch',
 'asia',
 'aspiringsing',
 'assassin',
 'assassinationattempt',
 'assault',
 'assaultrifl',
 'assign',
 'assist',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atlanticocean',
 'atomegoyan',
 'atomicbomb',
 'attack',
 'attemptedmurd',
 'attemptedrap',
 'attempttoescap',
 'attic',
 'attract',
 'auction',
 'audiotap',
 'audit',
 'audreyhepburn',
 'audreytaut',
 'aunt',
 'auntniecerelationship',
 'australia',
 'australianoutback',
 'austria',
 'author',
 'autism',
 'auto',
 'automobilerac',
 'autoritianeduc',
 'awkward',
 'ax',
 'babi',
 'baby',
 'babysitt',
 'bachelor',
 'backpack',
 'badboss',
 'badluck',
 'badmother',
 'bagoverhead',
 'bahama',
 'ball',
 'ballet',
 'balloon',
 'baltasarkormákur',
 'baltimoremaryland',
 'bammargera',
 'band',
 'bangkok',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbarahershey',
 'barbarian',
 'barbrastreisand',
 'barcelonaspain',
 'barfight',
 'barn',
 'barrylevinson',
 'barrypepp',
 'barrysonnenfeld',
 'barsandrestaur',
 'basebal',
 'baseballbat',
 'basedonarticl',
 'basedoncartoon',
 'basedonchildren',
 'basedoncomicbook',
 'basedoncomicstrip',
 'basedonfairytal',
 'basedonfilm',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonshortstori',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'bat',
 'bath',
 'bathroomhumor',
 'bathtub',
 'batman',
 'battl',
 'battleassign',
 'battlefield',
 'battleforpow',
 'bazluhrmann',
 'bdsm',
 'beach',
 'beachhous',
 'bear',
 'beard',
 'beast',
 'beat',
 'beauti',
 'beautifulwoman',
 'beautycontest',
 'becominganadult',
 'bedroom',
 'beer',
 'beguil',
 'behead',
 'belgium',
 'benaffleck',
 'benbarn',
 'benchaplin',
 'benedictcumberbatch',
 'benfost',
 'bengazzara',
 'beniciodeltoro',
 'benitomussolini',
 'benjaminbratt',
 'benkingsley',
 'bennofürmann',
 'benstil',
 'benwhishaw',
 'berlin',
 'berniemac',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'betray',
 'bettemidl',
 'bettythoma',
 'beverlyhil',
 'beyoncéknowl',
 'bia',
 'bibl',
 'bigfamili',
 'biker',
 'bikini',
 'billard',
 'billbellami',
 'billcondon',
 'billewoodruff',
 'billhad',
 'billionair',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyburk',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'billythekid',
 'billywild',
 'billyzan',
 'binocular',
 'biographi',
 'biolog',
 'biologicalweapon',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bite',
 'bittersweet',
 'blackandwhit',
 'blackhol',
 'blackhumor',
 'blackmag',
 'blackmail',
 'blackmen',
 'blackout',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blakel',
 'blast',
 'blaxploit',
 'blind',
 'blinddat',
 'blindnessandimpairedvis',
 'blizzard',
 'blog',
 'blond',
 'blood',
 'bloodsplatt',
 'blowjob',
 'blue',
 'boardingschool',
 'boat',
 'boatchas',
 'boazyakin',
 'bobbyfarrelli',
 'bobclark',
 'bobgunton',
 'bobhoskin',
 'bobodenkirk',
 'body',
 'bodyexchang',
 'bodyguard',
 'bodyhorror',
 'bokeemwoodbin',
 'bollywood',
 'bomb',
 'bomber',
 'bondag',
 'bongjoon',
 'bonniehunt',
 'boobytrap',
 'book',
 'bookstor',
 'boredom',
 'boss',
 'boston',
 'botanist',
 'bounti',
 'bountyhunt',
 'bourgeoisi',
 'bowandarrow',
 'bowl',
 'box',
 'boxer',
 'boxingmatch',
 'boy',
 'boyfriend',
 'boyfriendex',
 'boyfriendgirlfriendrelationship',
 'boygeniu',
 'boys',
 'bradanderson',
 'bradbird',
 'braddourif',
 'bradfurman',
 'bradleycoop',
 'bradpeyton',
 'bradpitt',
 'bradsilberl',
 'bradycorbet',
 'brain',
 'braintumor',
 'brainwash',
 'brandont',
 'braveri',
 'brawl',
 'brazil',
 'brazilian',
 'break',
 'breakdanc',
 'breakingthefourthwal',
 'breast',
 'breckeisn',
 'breckinmey',
 'brendanfras',
 'brendangleeson',
 'brentonthwait',
 'brentspin',
 'brettratn',
 'briancox',
 'briandennehi',
 'briandepalma',
 'brianhelgeland',
 'brianlev',
 'brianrobbin',
 'briantaylor',
 'briantrenchard',
 'bride',
 'bridegroom',
 'bridesmaid',
 'bridg',
 'bridgetfonda',
 'brielarson',
 'brien',
 'britain',
 'british',
 'britisharmi',
 'britishempir',
 'britishsecretservic',
 'britmarl',
 'brittanymurphi',
 'brittanysnow',
 'brittrobertson',
 'broadway',
 'brokenengag',
 'brokenneck',
 'broker',
 'bronx',
 'brook',
 'brookeshield',
 'brooklynnewyorkc',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothersisterrelationship',
 'bruceberesford',
 'brucecampbel',
 'brucedern',
 'brucegreenwood',
 'brucewilli',
 'brutal',
 'bryancranston',
 'bryansing',
 'brycedallashoward',
 'bu',
 'budapest',
 'buddhism',
 'buddhistmonk',
 'buddi',
 'buddycomedi',
 'buddycop',
 'bulletwound',
 'bulli',
 'bunker',
 'bunni',
 'bureaucraci',
 'burglar',
 'buriedal',
 'burnedal',
 'burrsteer',
 'burtlancast',
 'burtreynold',
 'bush',
 'busi',
 'businessman',
 'businessstart',
 'busrid',
 'butler',
 'bythewood',
 'cabin',
 'cabininthewood',
 'cage',
 'cairo',
 'california',
 'callgirl',
 'cambodia',
 'camcord',
 'cameronbright',
 'cameroncrow',
 'camerondiaz',
 'camgigandet',
 'camillabel',
 'camp',
 'campaign',
 'campbellscott',
 'campu',
 'canada',
 'cancer',
 'candi',
 'candlelightvigil',
 'cannabi',
 'cannib',
 'cano',
 'canuxploit',
 'caper',
 'capit',
 'captain',
 'captiv',
 'captur',
 'car',
 'caraccid',
 'carbomb',
 'carchas',
 'carcrash',
 'cardeal',
 'cardgam',
 'career',
 'careerwoman',
 'caretak',
 'carexplos',
 'careymulligan',
 'cargoship',
 'caribbean',
 'caricevanhouten',
 'carjack',
 'carjourney',
 'carlagugino',
 'carlfranklin',
 'carlossaldanha',
 'carlyschroed',
 'carmenejogo',
 'carniv',
 'carpet',
 'carrac',
 'carrie',
 'carriefish',
 'carsetonfir',
 'cartoon',
 'caruso',
 'caryelw',
 'caseyaffleck',
 'casino',
 'castl',
 'castrat',
 'cat',
 'cataclysm',
 'catandmous',
 'catastroph',
 'cateblanchett',
 'catherinedeneuv',
 'catherinehardwick',
 'catherinekeen',
 'catherinemccormack',
 'catherineo',
 'catherinezeta',
 'cathol',
 'catholic',
 'catholicchurch',
 'catholicpriest',
 'cattledr',
 'cavalri',
 'cave',
 'cavemen',
 'cedrictheentertain',
 'celebr',
 'cello',
 'cellphon',
 'cemeteri',
 'centralandsouthamerica',
 'centralpark',
 'ceremoni',
 'cgi',
 'chadmichaelmurray',
 'chain',
 'chainsaw',
 'championship',
 'chanc',
 'chandor',
 'chang',
 'changingthepastorfutur',
 'channingtatum',
 'chao',
 'chariti',
 'charlesd',
 'charlesferguson',
 'charlesherman',
 'charlesmartinsmith',
 'charless',
 'charliecox',
 'charlieday',
 'charliehunnam',
 'charliesheen',
 'charlietahan',
 'charlizetheron',
 'charlotterampl',
 'charltonheston',
 'chase',
 'chasesandrac',
 'chauffeur',
 'chazzpalminteri',
 'cheat',
 'cheatingwif',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhoodfriend',
 'childhoodmemori',
 'childhoodtrauma',
 'childlabour',
 'childmurder',
 'childprodigi',
 'children',
 'chimcbrid',
 'chimp',
 'chimpanze',
 'china',
 'chinatown',
 'chipmunk',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigni',
 'chocol',
 'choimin',
 'choir',
 'cholo',
 'chosenon',
 'chowyun',
 'chriscolumbu',
 'chriscoop',
 'chrisevan',
 'chrishemsworth',
 'chriskattan',
 'chrisklein',
 'chrismil',
 'chrisnoth',
 'chriso',
 'chrispin',
 'chrispratt',
 'chrisrock',
 'chrissand',
 'christ',
 'christian',
 'christianbal',
 'christianclavi',
 'christianfilm',
 'christianslat',
 'christinaappleg',
 'christinaricci',
 'christma',
 'christmascarol',
 'christmasev',
 'christmasparti',
 'christmastre',
 'christophereccleston',
 'christopherguest',
 'christopherlambert',
 'christopherlloyd',
 'christophermcdonald',
 'christophermcquarri',
 'christophermintz',
 'christophernolan',
 'christopherplumm',
 'christopherreev',
 'christopherwalken',
 'christophwaltz',
 'christuck',
 'chriswedg',
 'chrisweitz',
 'chu',
 'chuckrussel',
 'church',
 'churchchoir',
 'churchservic',
 'cia',
 'ciaagent',
 'ciaránhind',
 'cigarettesmok',
 'cigarsmok',
 'cillianmurphi',
 'cinderella',
 'cinema',
 'circu',
 'citi',
 'cityruin',
 'civilright',
 'civilwar',
 'clairedan',
 'claireforlani',
 'clancybrown',
 'clarkgabl',
 'class',
 'classdiffer',
 'classicalmus',
 'classmat',
 'classprejudic',
 'classroom',
 'classsocieti',
 'claudevandamm',
 'claustrophobia',
 'cleaduval',
 'clerk',
 'cliff',
 'cliffcurti',
 'climat',
 'climatechang',
 'climb',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clocktow',
 'clone',
 'clown',
 'club',
 'clumsyfellow',
 'coach',
 'coalmin',
 'coastguard',
 'cocain',
 'cockneyacc',
 'cockroach',
 'code',
 'coffin',
 'cohabit',
 'cohen',
 'coldwar',
 'colehaus',
 'colinfarrel',
 'colinfirth',
 'collector',
 'colleg',
 'collegestud',
 'colmfeor',
 'colmmeaney',
 'colombia',
 'colonel',
 'coloni',
 'colorado',
 'coma',
 'combat',
 'comeback',
 'comedi',
 'comedian',
 'comet',
 'comicbook',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'common',
 'commun',
 'compani',
 'compass',
 'competit',
 'compos',
 'compulsivegambl',
 'comput',
 'computerhack',
 'computerprogram',
 'computerviru',
 'conartist',
 'concentrationcamp',
 'concert',
 'concili',
 'condom',
 'confederatesoldi',
 'confess',
 'confid',
 'congress',
 'conman',
 'connel',
 'connienielsen',
 'connor',
 'conradvernon',
 'conserv',
 'conspiraci',
 'conspiracyofmurd',
 'conspiracytheori',
 'contest',
 'contractkil',
 'control',
 'conveniencestor',
 'convert',
 'convict',
 'convoy',
 'cook',
 'cop',
 'corbinbernsen',
 'coreyfeldman',
 'coron',
 'corpor',
 'corps',
 'corrupt',
 'corruptcop',
 'cosmato',
 'costasmandylor',
 'costum',
 'countdown',
 'countryhous',
 'countrylif',
 'countrymus',
 'countrysid',
 'coupd',
 'courag',
 'court',
 'courtcas',
 'courteneycox',
 'courthous',
 'courtroom',
 'cover',
 'coveredinvestig',
 'cow',
 'cowardic',
 'cowardli',
 'cowboy',
 'crab',
 'craigbierko',
 'craiggillespi',
 'craigt',
 'crash',
 'creatur',
 'cri',
 'crime',
 'crimefamili',
 'crimefight',
 'crimin',
 'criminalmastermind',
 'crisi',
 'crispinglov',
 'crocodil',
 'crookedlawy',
 'cross',
 'crossdress',
 'crucifix',
 'crucifixion',
 'cruelti',
 'cruis',
 'crusad',
 'crush',
 'cryogen',
 'cuba',
 'cubagoodingjr',
 'cult',
 'cultclass',
 'cultfavorit',
 'cultfilm',
 'cultur',
 'cultureclash',
 'cure',
 'curios',
 ...]

In [52]:
from sklearn.metrics.pairwise import cosine_similarity  #now we will find angle difference between the data vectors

In [53]:
similarity = cosine_similarity(vectors)

In [54]:
similarity

array([[1.        , 0.12309149, 0.11111111, ..., 0.06085806, 0.        ,
        0.        ],
       [0.12309149, 1.        , 0.12309149, ..., 0.        , 0.        ,
        0.        ],
       [0.11111111, 0.12309149, 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.06085806, 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [55]:
new_df[new_df["title"]=="Batman"].index[0]

1362

In [56]:
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])[1:6] 
#our aim is to find the most similar movies from the given movie name, for which we will emunerate , which will give a tuple of index and value, then we will arrange it in decending order

[(47, 0.3849001794597506),
 (2378, 0.34426518632954817),
 (61, 0.3333333333333334),
 (83, 0.3142696805273545),
 (2409, 0.30123203803835463)]

In [61]:
new_df.iloc[2409].title  #we are getting siimilar movies

'Aliens'

In [62]:
def recommend(movie):        #function to get list of top 5 recommended movies
    if movie in new_df["title"].values:
        movie_index = new_df[new_df["title"]==movie].index[0]
        distances = similarity[movie_index]
        movie_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]
        for i in movie_list:
            print(new_df.iloc[i[0]].title)
    else:
        print("Movie doesn't exist in database.")

In [64]:
recommend("Avatar")

Star Trek Into Darkness
Megaforce
Jupiter Ascending
The Lovers
Aliens